name: Suspend NODO Cron job triggered by Azure Alert

on:
  repository_dispatch:
    types: [azure-alert]
  workflow_dispatch:
    inputs:
      resource_group:
        description: 'Resource Group for AKS'
        required: true
        type: string
      cluster_name:
        description: 'AKS Cluster Name'
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  alertJob:
    environment: test
    runs-on: ubuntu-latest
    steps:
      - name: Alert Azure!
        run: echo "Hello, world!"

      - name: Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}
          auth-type: IDENTITY

      - name: Get K8s context
        uses: azure/aks-set-context@4edaee69f820359371ee8bc85189ac03a21d3a58 # v3
        with:
          resource-group: ${{ inputs.resource_group }}
          cluster-name: ${{ inputs.cluster_name }}
          admin: 'false'
          use-kubelogin: 'true'

      - name: Get pods
        run: kubectl ger pods -A -o wide
