name: CI/CD Pipeline - Full Flow with Approval and GitHub Package

on:
  # Eventi che triggerano la pipeline
  push:
    branches:
      - main
  workflow_dispatch: # Trigger manuale per approvazione
    inputs:
      environment:
        description: 'Environment to deploy'
        default: 'production'
        required: true

permissions:
  id-token: write
  contents: read
  packages: write
  pull-requests: read

jobs:
  build-main-image:
    name: Build Docker Image for Main
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Define Tags
        run: |
          IMAGE_TAG="ma.${{ github.run_number }}.$(date +%Y%m%d)"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "Defined tags: $IMAGE_TAG, latest"

      - name: Build Docker Image
        run: |
          cd test-docker
          docker build -t ghcr.io/ffppa/test-runners/test-docker:${{ env.IMAGE_TAG }} \
                       -t ghcr.io/ffppa/test-runners/test-docker:MA.latest .

      - name: Login to GitHub Container Registry
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Push Docker Image
        run: |
          docker push ghcr.io/ffppa/test-runners/test-docker:${{ env.IMAGE_TAG }}
          docker push ghcr.io/ffppa/test-runners/test-docker:MA.latest

  # Fase 3: Test in UAT e promozione a Golden
  uat-and-golden:
    name: Test in UAT and Promote Golden Image
    runs-on: ubuntu-latest
    environment: test
    needs: build-main-image
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Define Tags
        run: |
          IMAGE_TAG="ma.${{ github.run_number }}.$(date +%Y%m%d)"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "Defined tags: $IMAGE_TAG, latest"

      - name: Login to GitHub Container Registry
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Pull Latest Docker Image by Tag
        run: |
          docker pull ghcr.io/ffppa/test-runners/test-docker:MA.latest

      - name: Tag Golden Image
        run: |
          docker tag ghcr.io/ffppa/test-runners/test-docker:MA.latest ghcr.io/ffppa/test-runners/test-docker:golden.${{ env.IMAGE_TAG }}
          docker tag ghcr.io/ffppa/test-runners/test-docker:MA.latest ghcr.io/ffppa/test-runners/test-docker:golden.latest
          docker push ghcr.io/ffppa/test-runners/test-docker:golden.${{ env.IMAGE_TAG }}
          docker push ghcr.io/ffppa/test-runners/test-docker:golden.latest

  # Fase 4: Deploy in Produzione con approvazione
  deploy-production:
    name: Deploy to Production
    runs-on: ubuntu-latest
    environment: test
    needs: uat-and-golden
    if: github.event.inputs.approve_prod == 'yes'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin


      - name: Pull Golden Image
        run: docker pull ghcr.io/ffppa/test-runners/test-docker:golden.latest"
      - name: Deploy to Production
        run: |
          echo "SI va in prod!!! :: ${{ env.IMAGE }}"
        env:
          IMAGE: "ghcr.io/ffppa/test-runners/test-docker:golden.${{ env.latest_tag }}"